@color__primary:@color-swatch3;
@color__secondary:@color-swatch2;

@color__body--background:@color-swatch1;
@color__link--text:@color__secondary;
@color__companyname--text:@font-swatch10-color;

@color__h1--text:@font-swatch1-color;
@color__h2--text:@font-swatch2-color;
@color__h3--text:@font-swatch3-color;
@color__h4--text:@font-swatch4-color;
@color__p--text:@font-swatch5-color;

@color__button--background:@color__primary;
@color__button--background--hover:@color__primary;
@color__button--text:@font-swatch6-color;
@color__button--text--hover:@font-swatch6-color;

@color__header--background:@color__primary;

@color__footer--background:@color__primary;

@color__navigation--text:@font-swatch6-color;
@color__navigation--text--hover:@color__secondary;
@color__navigation--text--selected:@color__secondary;
@color__navigation-list--background:@color-swatch3;
@color__navigation-item--text:@font-swatch6-color;
@color__navigation-item--selected:@color__secondary;
